.header {
  width: 80%;
  box-shadow: 0 10px 10px rgba(0 , 0 , 0 , 0.5);
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container i {
  padding: 10px 20px;
  font-size: 35px;
  color: var(--p-color);
}
.header .container .header-end {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px 20px;
  margin: 0 100px;
}
.header .container .header-end img {
  width: 40px;
  border-radius: 50%;
  background-size: contain;
  height: 40px;
}
.header .container .header-end p {
  color: var(--p-color);
  padding: 0 20px;
  font-size: 30px;
  margin: 0;
}
