.delete {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: rgba(0, 0, 0, 0.562);
}
.container {
  background-color: var(--post-background-color);
  width: 50%;
  margin: auto;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  direction: rtl;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.container .header h2 {
  padding-top: 25px;
  font-weight: bold;
  color: var(--h-color);
  display: flex;
  justify-content: center;
  font-size: 75px;
}

.container .content {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: var(--p-color);
}
.container .foot {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container button {
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 20px;
}
.container button:first-child {
  border: 1px solid #ff2d2d;
  background-color: transparent;
  color: var(--p-color);
}
.container button:last-child {
  background-color: #4377f1;
  border: none;
}
.container button:first-child:hover {
  border: 1px solid #ff2d2d;
  background-color: #ff2d2d;
  color: var(--p-color);
}
